.myheader {
    height: 50px;
    background-color: #466a8b;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 6px 6px 5px 6px #aea2a23a;
    margin-bottom: 20px;
}