.tagButton {
    background-color: purple;
    border: none;
    color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 5px 7px rgb(0, 0, 0,0.5);
    cursor: pointer;
}

.tagButton:hover {
    background-color: rgb(73, 7, 73);
}